<form class="form-horizontal">
	<div class="row text-center">
		<div class="form-group">
			<div class="col-xs-12 text-center">
				<select class="form-control" id="hook_list_select">
					<% @hookslist.each do |hl| %>
							<option value="<%= hl.id %>"><%= hl.name %></option>
					<% end %>
				</select>
			</div>
		</div>
	</div>
</form>