<form class="form-horizontal">
  <div class="row text-center">
    <div class="form-group">
      <div class="col-xs-10 col-xs-offset-1">
        <select class="form-control" id="campaignDropdown">
          <option selected="selected">Please Select a Campaign to load it in the Funnel Builder</option>
          <% @campaigns.each do |el| %>
              <option value="<%= el.id %>"><%= el.name %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
</form>

<script>
    $(function() {

        var campaignDropdown = $('#campaignDropdown');

        campaignDropdown.on('change', function() {
            window.location.href = "funnel/" + campaignDropdown.val();
        })

    });
</script>