<div id="node_form_partial">
	<form>
		<div class="form-group">
			<label for="job-name" class="control-label"><b>Name:</b></label>
			<input type="text" class="form-control" id="node_update_job_name" value="Enter a name for the job"/>
		</div>
		<br>
		<div class="form-group">
			<b>Email Execute-Time (Hours after hook is hit)</b>
			<input type="text" name="execute_time" class="form-control" id="execute_time" value="How many hours after the hook should we send the followup email"/>
		</div>
		<hr>
		<h5>Email</h5>
		<div class="form-group">
			<span class="input-group-addon">Subject</span>
			<input type="text" class="form-control" id="node_update_job_subject" value="">
		</div>
		<div class="form-group">
			<span class="input-group-addon">Content</span>
			<textarea class="form-control mediumEditable" rows=5 id="node_update_job_conent"></textarea>
		</div>
		<hr>
	</form>
</div>