<% content_for :javascript do %>
		<script type="text/javascript">
        window.mainPageTitle = 'Main Page';
        ShopifyApp.ready(function () {
            ShopifyApp.Bar.initialize({
                title: window.mainPageTitle,
                icon: '/shopify.png',
                buttons: {
                    secondary: {
                        label: "Mail-Funnel Home",
                        href: "http://docs.shopify.com/embedded-app-sdk",
                        target: 'new'
                    }
                }
            });
        });
		</script>
<% end %>
<div class="container">

	<div class="col-xs-12">

		<legend>
			<h1>Hooks Constants</h1>
		</legend>

		<!-- Campaign Selector Partial -->
		<div class="col-xs-12">
			<%= render 'campaign_select' %>
		</div>
		<!-- END Campaign Selector Partial-->


		<!-- Hooks Table -->
		<table class="table table-striped">

			<!-- Hooks Table Header -->
			<tr class="active">
				<th><h4>Hook</h4></th>
				<th><h4>Campaign</h4></th>
			</tr>
			<!-- END Hooks Table Header -->

			<!-- Hooks Table BODY -->
			<tbody>
			<% @hooks_constants.each do |hooks_constant| %>
					<% Campaign.where(hooks_constant_id: hooks_constant.id).find_each do |cj| %>
							<tr>
								<td style="width:85%;">
									<h6><%= hooks_constant.name %></h6>
								</td>
								<td>
									<a href="<%= root_url %>jobs/<%= cj.id %>" class="btn btn-info btn-block">View >></a>
								</td>
							</tr>
					<% end %>
			<% end %>
			</tbody>
			<!-- END Hooks Table BODY -->

		</table>
		<!-- END Hooks Table -->

		<br>

	</div>


</div>