<script type="text/javascript">
    ShopifyApp.ready(function () {
        ShopifyApp.Bar.initialize({
            buttons: {
                primary: {
                    label: 'Save',
                    message: 'new_email_list',
                    loading: true
                }
            }
        });
    });
</script>

<% external_url = MailFunnelConfig.where(name: 'server_url').first.value + 'email_lists' %>
<% internal_url = root_url + 'create_list' %>


<% logger.debug "Internal URL: " + internal_url %>
<% logger.debug "External URL: " + external_url %>


<script>
    $(document).ready(function () {
        var csrf_token = $('meta[name=csrf-token]').attr('content');
        var csrf_param = $('meta[name=csrf-param]').attr('content');
    });
</script>

<div class="row">
  <div class="col-xs-12">
    <form method="POST" action="create_list" data-shopify-app-submit="new_email_list" class="form-horizontal">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <legend>Create New List:</legend>


      <div class="col-xs-5">
        <div id="nameFormGroup" class="form-group">
          <label class="col-xs-2 control-label" for="name">Name:</label>
          <div class="col-xs-10">
            <input type="text" name="name" class="form-control" id="name"/>
          </div>
        </div>
      </div>

      <div class="col-xs-5">
        <div id="descriptionFormGroup" class="form-group">
          <label class="col-xs-2 control-label" for="description">Description:</label>
          <div class="col-xs-10">
            <input type="text" name="description" class="form-control" id="description"/><br>
          </div>
        </div>
      </div>

      <div class="col-xs-2">
        <button id="newListSubmitButton" type="submit" name="submit" class="btn btn-primary btn-block">Add Email List</button>
      </div>
    </form>
  </div>
</div>

<script>
  $(function() {

      var nameFormGroup = $('#nameFormGroup');
      var descriptionFormGroup = $('#descriptionFormGroup');

      var nameInput = $('#name');
      var descriptionInput = $('#description');
      var submitButton = $('#newListSubmitButton');

      //Set Default to disabled
      submitButton.attr('disabled', true);

      nameInput.keyup(function(){
          if((nameInput.val().length != 0) && descriptionInput.val() != 0) {
              submitButton.attr('disabled', false);
          }
          else {
              submitButton.attr('disabled', true);
          }
      });

      descriptionInput.keyup(function(){
          if((nameInput.val().length != 0) && descriptionInput.val() != 0) {
              submitButton.attr('disabled', false);
          }
          else {
              submitButton.attr('disabled', true);
          }
      });

  });
</script>