<script type="text/javascript">
	ShopifyApp.ready(function () {
		ShopifyApp.Bar.initialize({
			buttons: {
				primary: {
					label: 'Save',
					message: 'new_email_list',
					loading: true
				}
			}
		});
	});
</script>

<%= render 'layouts/navbar' %>

<h3>Email List <%= @email_list.name %></h3>

<h6><%= @message %></h6>

<div class="container">
	
	<b>Email Contents:</b><br>
	<%= @email_list.description %>

</div>