<%= render 'layouts/navbar' %>
<div class="container">
	
	<p id="notice"><%= notice %></p>
	
	<p>
		<strong>Campaign job:</strong>
		Campaign (Hook): <%= @campaign.name %><br>
		<strong>Jobs:</strong><br>
		<% @jobs.find_each do |c| %>
				Job <%= c.id %>
		<% end %>
	
	</p>

<%#= link_to "New Campaign Job", :controller => "campaign_jobs", :action => "new" %>

</div>